<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">ingest inspector</a>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}

      <p>
        made with 💚 •
        source on <a href="https://github.com/wellcomecollection/ingest-inspector">GitHub</a> •
        hosted on <a href="https://glitch.com/~wellcome-ingest-inspector">glitch</a>
      </p>
    </div>
  </body>
</html>
