<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      .card-header {
        font-weight: bold;
      }

      .navbar {
        margin-bottom: 1em;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      th {
        padding-right: 8px;
        text-align: right;
        vertical-align: top;
      }

      .card {
        margin-bottom: 3em;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Ingest inspector</a>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
