<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='ingest_inspector.js') }}"></script>

    <title>{{ title }}</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <aside {% if ingest %}class="status-{{ ingest.status.id }}"{% endif %}>
      <div class="content">
        <a href="{{ url_for('index') }}">wellcome ingest inspector</a>
      </div>
    </aside>

    <main>
      <div class="content">
        <label for="ingestId">Ingest ID:</label>
        <input type="text" name="ingestId"
          id="ingestId"
          placeholder="123e4567-e89b-12d3-a456-426655440000"
          {% if ingest %}value="{{ ingest.id }}"{% endif %}
          autofocus spellcheck="false" size="36">
        <button onclick="load_ingest();"
          {% if ingest %}class="status-{{ ingest.status.id }}"{% endif %}
        >Look up ingest</button>

        {% if ingest %}
        <hr/>
        {% endif %}

        {% block content %}{% endblock %}
      </div>
    </main>

    <footer>
      <div class="content">
        <p>
          made with <span class="heart {% if ingest %}status-{{ ingest.status.id }}{% endif %}">♥</span> •
          source on <a href="https://github.com/wellcomecollection/ingest-inspector">GitHub</a> •
          hosted on <a href="https://glitch.com/~wellcome-ingest-inspector">glitch</a>
        </p>
      </div>
    </footer>
  </body>
</html>
