{% extends "base.html" %}

{% block head %}
  <meta http-equiv="refresh" content="30"/>
{% endblock %}

{% block content %}
  <p>
    Found ingest <strong>{{ ingest.id }}</strong> in the <strong>{{ api }}</strong> API:
  </p>

  <script>
    storeNewIngest(
      {{ ingest.id | tojson }},
      {{ ingest.space.id | tojson }},
      {{ ingest.bag.info.externalIdentifier | tojson }}
    )
  </script>

  {% set status = ingest.status.id %}

  <div class="card status-{{ status }}">
    <div class="card-header api-{{ api }}">{{ ingest.id }}: {{ status }}</div>
    <div class="card-body">
      <div class="ingest_data">
        <div class="label">source location:</div>
        <div class="value">
          {% set bucket = ingest.sourceLocation.bucket %}
          {% set path = ingest.sourceLocation.path %}
          <a href="{{ ingest.sourceLocation | s3_url }}">{{ ingest.sourceLocation | display_s3_url }}</a>
        </div>

        <div class="label">storage space:</div>
        <div class="value">{{ ingest.space.id }}</div>

        <div class="label">external identifier:</div>
        <div class="value">{{ ingest.bag.info.externalIdentifier }}</div>

        <div class="label">version:</div>
        <div class="value">
          {% set version = ingest.bag.info.get("version") %}
          {% if version %}
            {{ version }}
          {% else %}
            (none assigned)
          {% endif %}
        </div>

        <div class="label">created date:</div>
        <div class="value" id="createdDate" title="{{ ingest.createdDate }}">
          <script>
            document.getElementById("createdDate").innerHTML = localiseDateString("{{ ingest.createdDate }}");
          </script>
          <noscript>
            {{ ingest.createdDate | format_date }}
          </noscript>
        </div>

        <div class="label">last update:</div>
        <div class="value" id="updatedDate" title="{{ ingest | last_update }}">
          <script>
            document.getElementById("updatedDate").innerHTML = (
              localiseDateString("{{ ingest | last_update }}") + updateDelta("{{ ingest | last_update }}")
            );
          </script>
          <noscript>
            {{ ingest | last_update | format_date }}
          </noscript>
        </div>

        {% if "callback" in ingest %}
        <div class="label callback--{{ ingest.callback.status.id }}">callback status:</div>
        <div class="value callback--{{ ingest.callback.status.id }}"">
          {% if ingest.callback.status.id == "processing" %}
            pending
          {% else %}
            {{ ingest.callback.status.id }}
          {% endif %}
        </div>
        {% endif %}

        <div class="label">events:</div>
        <div class="value" style="margin-bottom: 0">
          <ul>
          {% for ev in ingest.events %}
            <li>{% if "failed" in ev.description %}<strong>{{ ev.description }}</strong>{% else %}{{ ev.description }}{% endif %}</li>
          {% endfor %}
          </ul>
        </div>
      </div>

      <!--
        Commented out because Archivematica sends API credentials in the callback URL

        And commented out with Jinja2 comments so we don't expose it in
        an HTML comment!
        -->
      {# <details>
        <summary>Ingests API response (JSON)</summary>

        <pre><code>{{ ingest | tojson(indent=2) }}</code></pre>
      </details> #}
    </div>
  </div>
{% endblock %}
