{% extends "base.html" %}

{% block content %}
  <p>
    Found ingest <strong>{{ ingest.id }}</strong> in the <strong>{{ api }}</strong> API:
  </p>

  {% set status = ingest.status.id %}

  <div class="card status-{{ status }}">
    <div class="card-header api-{{ api }}">{{ ingest.id }}: {{ status }}</div>
    <div class="card-body">
      <div class="ingest_data">
        <div class="label">source location:</div>
        <div class="value">
          {% set bucket = ingest.sourceLocation.bucket %}
          {% set path = ingest.sourceLocation.path %}
          <a href="{{ ingest.sourceLocation | s3_url }}">{{ ingest.sourceLocation | display_s3_url }}</a>
        </div>

        <div class="label">storage space:</div>
        <div class="value">{{ ingest.space.id }}</div>

        <div class="label">external identifier:</div>
        <div class="value">{{ ingest.bag.info.externalIdentifier }}</div>

        <div class="label">version:</div>
        <div class="value">
          {% set version = ingest.bag.info.get("version") %}
          {% if version %}
            {{ version }}
          {% else %}
            (none assigned)
          {% endif %}
        </div>

        <div class="label">created date:</div>
        <div class="value">{{ ingest.createdDate | format_date }}</div>

        <div class="label">last update:</div>
        <div class="value">{{ ingest | last_update }}</div>

        {% if "callback" in ingest and status != "processing" and status != "accepted" %}
        <div class="label">callback status:</div>
        <div class="value">{{ ingest.callback.status.id }}</div>
        {% endif %}

        <div class="label">events:</div>
        <div class="value" style="margin-bottom: 0">
          <ul>
          {% for ev in ingest.events %}
            <li>{% if "failed" in ev.description %}<strong>{{ ev.description }}</strong>{% else %}{{ ev.description }}{% endif %}</li>
          {% endfor %}
          </ul>
        </div>
      </div>

      <!--
        Commented out because Archivematica sends API credentials in the callback URL

        And commented out with Jinja2 comments so we don't expose it in
        an HTML comment!
        -->
      {# <details>
        <summary>Ingests API response (JSON)</summary>

        <pre><code>{{ ingest | tojson(indent=2) }}</code></pre>
      </details> #}
    </div>
  </div>
{% endblock %}
